body{
    margin: 0px;
    padding: 0px;
    background-image: url(image/background.png);
}

.nav{
    display: flex;
    margin: 10px 3vw;
    justify-content: space-around;
    height: 10vh;
}
#logo_div{
    flex: 1;
}
#text_nav_div{
    flex: 1;
    display: flex;
    float: right;
    margin-top: 20px;
    margin-right: 20px;

}
#nav_logo{
    width:10vw;
    height: 15vh;
}
.extra{
    flex: 5;
}
#home_nav{
    flex: 1;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 1vw;

}
#project_nav{
    flex: 1;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 1vw;

}
#blog_nav{
    flex: 1;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 1vw;

}
#marketplace_nav{
    flex: 1;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 1vw;


}
#event_nav{
    flex: 1;
    font-family: 'Raleway', sans-serif;
    color: white;
    text-align: right;
    font-size: 1vw;
}
.content_first{
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: space-around;
}

#img_content{
    flex: 1;
}
#home_page_img{
    width: 50vw;
    height: 80vh;
}   
#sub_title{
    flex: 1;
    font-family: 'Montserrat', sans-serif;
    font-size: 2vw;
    font-weight: 600;
    margin: 0;
}
#text_content1{
    margin-right: 4.5vw;
    color: #FFFFFF;
    display: block;
    margin: 0 auto;
    margin-right: 4vw;
    margin-top: 20vh;
}
#title{
    color: #fcff00;
    font-size: 3vw;
    font-weight: 800;
    margin: 0;
    flex: 1;
    font-family: 'Montserrat', sans-serif;
    text-align: right;
}
#sec_page_app_futures{
    display: flex;
    height: 60vh;
    margin: 4vw;
    background-color: #102648;
    border-radius: 20px;
    padding: 5vw;
    justify-content: space-around;
}
.haeder_img{
    width: 50%;
}
.pro_img{
    height: 50%;
    display: flex;
    justify-content: space-around;
    flex: 1;
}
 .project_text{
    /* display: flex;
    justify-content: space-around; */
    height: 50%;

} 

#project{
    flex: 1;
    display: block;
    background-color: #073882;
    border-radius: 20px;
    margin: 1vw;
}
.project_title{
    font-size: 22px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.project_des{
    color: #dccfcf;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

